@page "/map/bubblelayer"

<TelerikMap Center="@Center"
            WrapAround="false"
            MinZoom="3"
            MaxZoom="8"
            Zoom="4">
    <MapLayers>
        <MapLayer Type="@MapLayersType.Tile"
                  Attribution="@Attribution"
                  Subdomains="@Subdomains"
                  UrlTemplate="@UrlTemplate">
        </MapLayer>

        <MapLayer Type="@MapLayersType.Bubble"
                  Data="@BubbleData"
                  LocationField="@nameof(BubbleModel.LatLng)"
                  ValueField="@nameof(BubbleModel.Population_2010)">
            <MapLayerBubbleSettings>
                <MapLayerBubbleSettingsStyle>
                    <MapLayerBubbleSettingsStyleFill Color="#0000ff"></MapLayerBubbleSettingsStyleFill>
                    <MapLayerBubbleSettingsStyleStroke Color="#000000"></MapLayerBubbleSettingsStyleStroke>
                </MapLayerBubbleSettingsStyle>
            </MapLayerBubbleSettings>
        </MapLayer>
    </MapLayers>
</TelerikMap>

@code {
    public string[] Subdomains { get; set; } = new string[] { "a", "b", "c" };
    public string UrlTemplate { get; set; } = "https://#= subdomain #.tile.openstreetmap.org/#= zoom #/#= x #/#= y #.png";
    public string Attribution { get; set; } = "&copy; <a href='https://osm.org/copyright'>OpenStreetMap contributors</a>";
    public double[] Center { get; set; } = new double[] { 30.268107, -97.744821 };

    public List<BubbleModel> BubbleData { get; set; } = new List<BubbleModel>()
    {
        new BubbleModel()
        {
            LatLng = new double[] { 33.79, -84.34 }, City = "Atlanta", Country = "United States of America", Population_2010 = 4510
        },
        new BubbleModel()
        {
            LatLng = new double[] { 30.27, -97.73 }, City = "Austin", Country = "United States of America", Population_2010 = 1160
        },
        new BubbleModel()
        {
            LatLng = new double[] { 39.32, -76.61 }, City = "Baltimore", Country = "United States of America", Population_2010 = 2260
        },
        new BubbleModel()
        {
            LatLng = new double[] { 42.37, -71.1 }, City = "Boston", Country = "United States of America", Population_2010 = 4470
        },
        new BubbleModel()
        {
            LatLng = new double[] { 41.18, -73.19 }, City = "Bridgeport-Stamford", Country = "United States of America", Population_2010 = 1020
        },
        new BubbleModel()
        {
            LatLng = new double[] { 42.89, -78.84 }, City = "Buffalo", Country = "United States of America", Population_2010 = 1020
        },
        new BubbleModel()
        {
            LatLng = new double[] { 35.2, -80.83 }, City = "Charlotte", Country = "United States of America", Population_2010 = 1000
        },
        new BubbleModel()
        {
            LatLng = new double[] { 41.82, -87.64 }, City = "Chicago", Country = "United States of America", Population_2010 = 8990
        },
        new BubbleModel()
        {
            LatLng = new double[] { 39.14, -84.47 }, City = "Cincinnati", Country = "United States of America", Population_2010 = 1640
        },
        new BubbleModel()
        {
            LatLng = new double[] { 41.39, -81.72 }, City = "Cleveland", Country = "United States of America", Population_2010 = 1890
        },
        new BubbleModel()
        {
            LatLng = new double[] { 40.04, -82.99 }, City = "Columbus, Ohio", Country = "United States of America", Population_2010 = 1270
        },
        new BubbleModel()
        {
            LatLng = new double[] { 32.76, -96.66 }, City = "Dallas-Fort Worth", Country = "United States of America", Population_2010 = 4800
        },
        new BubbleModel()
        {
            LatLng = new double[] { 39.75, -84.19 }, City = "Dayton", Country = "United States of America", Population_2010 = 770
        },
        new BubbleModel()
        {
            LatLng = new double[] { 39.57, -105.07 }, City = "Denver-Aurora", Country = "United States of America", Population_2010 = 2310
        },
        new BubbleModel()
        {
            LatLng = new double[] { 42.39, -83.07 }, City = "Detroit", Country = "United States of America", Population_2010 = 4100
        },
        new BubbleModel()
        {
            LatLng = new double[] { 31.77, -106.45 }, City = "El Paso", Country = "United States of America", Population_2010 = 750
        },
        new BubbleModel()
        {
            LatLng = new double[] { 41.76, -72.7 }, City = "Hartford", Country = "United States of America", Population_2010 = 910
        },
        new BubbleModel()
        {
            LatLng = new double[] { 21.32, -157.86 }, City = "Honolulu", Country = "United States of America", Population_2010 = 790
        },
        new BubbleModel()
        {
            LatLng = new double[] { 29.77, -95.4 }, City = "Houston", Country = "United States of America", Population_2010 = 4460
        },
        new BubbleModel()
        {
            LatLng = new double[] { 39.81, -86.13 }, City = "Indianapolis", Country = "United States of America", Population_2010 = 1440
        },
        new BubbleModel()
        {
            LatLng = new double[] { 30.33, -81.65 }, City = "Jacksonville, Florida", Country = "United States of America", Population_2010 = 990
        },
        new BubbleModel()
        {
            LatLng = new double[] { 38.99, -94.62 }, City = "Kansas City", Country = "United States of America", Population_2010 = 1470
        },
        new BubbleModel()
        {
            LatLng = new double[] { 36.17, -115.13 }, City = "Las Vegas", Country = "United States of America", Population_2010 = 1820
        },
        new BubbleModel()
        {
            LatLng = new double[] { 34, -118.25 }, City = "Los Angeles-Long Beach-Santa Ana", Country = "United States of America", Population_2010 = 12500
        },
        new BubbleModel()
        {
            LatLng = new double[] { 38.25, -85.76 }, City = "Louisville", Country = "United States of America", Population_2010 = 950
        },
        new BubbleModel()
        {
            LatLng = new double[] { 35.11, -90 }, City = "Memphis", Country = "United States of America", Population_2010 = 1080
        },
        new BubbleModel()
        {
            LatLng = new double[] { 25.83, -80.27 }, City = "Miami", Country = "United States of America", Population_2010 = 5580
        },
        new BubbleModel()
        {
            LatLng = new double[] { 43.06, -87.99 }, City = "Milwaukee", Country = "United States of America", Population_2010 = 1390
        },
        new BubbleModel()
        {
            LatLng = new double[] { 44.92, -93.3 }, City = "Minneapolis-St. Paul", Country = "United States of America", Population_2010 = 2620
        },
        new BubbleModel()
        {
            LatLng = new double[] { 36.14, -86.81 }, City = "Nashville-Davidson", Country = "United States of America", Population_2010 = 880
        },
        new BubbleModel()
        {
            LatLng = new double[] { 29.95, -90.09 }, City = "New Orleans", Country = "United States of America", Population_2010 = 780
        },
        new BubbleModel()
        {
            LatLng = new double[] { 40.7, -73.9 }, City = "New York-Newark", Country = "United States of America", Population_2010 = 19040
        },
        new BubbleModel()
        {
            LatLng = new double[] { 35.48, -97.53 }, City = "Oklahoma City", Country = "United States of America", Population_2010 = 790
        },
        new BubbleModel()
        {
            LatLng = new double[] { 28.54, -81.37 }, City = "Orlando", Country = "United States of America", Population_2010 = 1350
        },
        new BubbleModel()
        {
            LatLng = new double[] { 39.92, -75.21 }, City = "Philadelphia", Country = "United States of America", Population_2010 = 5490
        },
        new BubbleModel()
        {
            LatLng = new double[] { 33.5, -112.11 }, City = "Phoenix-Mesa", Country = "United States of America", Population_2010 = 3550
        },
        new BubbleModel()
        {
            LatLng = new double[] { 40.49, -79.99 }, City = "Pittsburgh", Country = "United States of America", Population_2010 = 1840
        },
        new BubbleModel()
        {
            LatLng = new double[] { 45.44, -122.64 }, City = "Portland", Country = "United States of America", Population_2010 = 1880
        },
        new BubbleModel()
        {
            LatLng = new double[] { 41.81, -71.42 }, City = "Providence", Country = "United States of America", Population_2010 = 1280
        },
        new BubbleModel()
        {
            LatLng = new double[] { 37.56, -77.47 }, City = "Richmond", Country = "United States of America", Population_2010 = 910
        },
        new BubbleModel()
        {
            LatLng = new double[] { 34.12, -117.29 }, City = "Riverside-San Bernardino", Country = "United States of America", Population_2010 = 1740
        },
        new BubbleModel()
        {
            LatLng = new double[] { 43.21, -77.63 }, City = "Rochester", Country = "United States of America", Population_2010 = 760
        },
        new BubbleModel()
        {
            LatLng = new double[] { 38.56, -121.42 }, City = "Sacramento", Country = "United States of America", Population_2010 = 1600
        },
        new BubbleModel()
        {
            LatLng = new double[] { 40.69, -111.89 }, City = "Salt Lake City", Country = "United States of America", Population_2010 = 970
        },
        new BubbleModel()
        {
            LatLng = new double[] { 29.42, -98.52 }, City = "San Antonio", Country = "United States of America", Population_2010 = 1470
        },
        new BubbleModel()
        {
            LatLng = new double[] { 32.76, -117.12 }, City = "San Diego", Country = "United States of America", Population_2010 = 2920
        },
        new BubbleModel()
        {
            LatLng = new double[] { 37.79, -122.38 }, City = "San Francisco-Oakland", Country = "United States of America", Population_2010 = 3450
        },
        new BubbleModel()
        {
            LatLng = new double[] { 37.3, -121.84 }, City = "San Jose", Country = "United States of America", Population_2010 = 1670
        },
        new BubbleModel()
        {
            LatLng = new double[] { 47.58, -122.31 }, City = "Seattle", Country = "United States of America", Population_2010 = 3070
        },
        new BubbleModel()
        {
            LatLng = new double[] { 38.63, -90.34 }, City = "St. Louis", Country = "United States of America", Population_2010 = 2200
        },
        new BubbleModel()
        {
            LatLng = new double[] { 27.99, -82.59 }, City = "Tampa-St. Petersburg", Country = "United States of America", Population_2010 = 2310
        },
        new BubbleModel()
        {
            LatLng = new double[] { 32.22, -110.92 }, City = "Tucson", Country = "United States of America", Population_2010 = 820
        },
        new BubbleModel()
        {
            LatLng = new double[] { 36.83, -76.08 }, City = "Virginia Beach", Country = "United States of America", Population_2010 = 1490
        },
        new BubbleModel()
        {
            LatLng = new double[] { 38.89, -76.95 }, City = "Washington, D.C.", Country = "United States of America", Population_2010 = 4340
        },
    };

    public class BubbleModel
    {
        public double[] LatLng { get; set; }
        public string City { get; set; }
        public string Country { get; set; }
        public int Population_2010 { get; set; }
    }
}