@page "/map/markertemplate"

<style>
    .custom-marker-class {
        background-image: url(https://demos.telerik.com/kendo-ui/content/dataviz/chart/images/sunny.png);
        padding-top: 65px;
        text-align: center;
        background-size: 65px;
        width: 63px;
        background-repeat: no-repeat;
        display: inline-table;
        font-size: 12px;
    }

    .second-custom-marker-class {
        background-image: url(https://demos.telerik.com/kendo-ui/content/dataviz/chart/images/rainy.png);
        padding-top: 65px;
        text-align: center;
        background-size: 65px;
        width: 63px;
        background-repeat: no-repeat;
        display: inline-table;
        font-size: 12px;
    }
</style>

<TelerikMap Center="Center" Height="500px">
    <MapLayers>
        <MapLayer Type="@MapLayersType.Marker"
                  Data="@MarkerData1"
                  LocationField="@nameof(MarkerModel.LatLng)"
                  TitleField="@nameof(MarkerModel.Title)">
            <MapLayerMarkerSettings Template="<span class='custom-marker-class'>#= dataItem.Title #</span>">
            </MapLayerMarkerSettings>
        </MapLayer>

        <MapLayer Type="@MapLayersType.Marker"
                  Data="@MarkerData2"
                  LocationField="@nameof(MarkerModel.LatLng)"
                  TitleField="@nameof(MarkerModel.Title)">
            <MapLayerMarkerSettings Template="<span class='second-custom-marker-class'>#= dataItem.Title #</span>">
            </MapLayerMarkerSettings>
        </MapLayer>

        <MapLayer Type="@MapLayersType.Tile"
                  Attribution="@Attribution"
                  Subdomains="@Subdomains"
                  UrlTemplate="@UrlTemplate">
        </MapLayer>

    </MapLayers>
</TelerikMap>

@code {
    public string[] Subdomains { get; set; } = new string[] { "a", "b", "c" };
    public string UrlTemplate { get; set; } = "https://#= subdomain #.tile.openstreetmap.org/#= zoom #/#= x #/#= y #.png";
    public string Attribution { get; set; } = "&copy; <a href='https://osm.org/copyright'>OpenStreetMap contributors</a>";
    public double[] Center { get; set; } = new double[] { 30.268107, -97.744821 };

    public List<MarkerModel> MarkerData1 { get; set; } = new List<MarkerModel>()
    {
        new MarkerModel()
        {
            LatLng = new double[] { 30.268107, -97.744821 },
            Title = "Austin, TX"
        }
    };

    public List<MarkerModel> MarkerData2 { get; set; } = new List<MarkerModel>()
    {
        new MarkerModel()
        {
            LatLng = new double[] { 42.37, -71.1 },
            Title = "Boston, MA"
        }
    };

    public class MarkerModel
    {
        public double[] LatLng { get; set; }
        public string Title { get; set; }
    }
}